#welcome_image_div{
position: relative;
  text-align: center;
  color: white;
}
.banner_img_info{
	background-image: url("https://res.cloudinary.com/ddkyepakx/image/upload/v1563264356/banner.jpg");
    width: 100%;
  min-height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.section_form{
    height: auto;
    padding: 30px;
    background: #fff;
    z-index: 100;
    font-family: 'Saira Condensed', sans-serif;
}
.section_form h2 {
    font-size: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0px;
    margin-bottom: 20px;
    color:black;
}

.selectpicker_to{
    margin-bottom: 10px;
	margin-top: 15px;
	width: 100%;
  	height: 50px;
    padding: 0 20px;
    font-size: 14px;
    line-height: 48px;
    vertical-align: top;
    text-transform: inherit;
    color: #222;
    border: 1px solid #ddd;
    border-bottom: 3px solid #ddd;
    border-radius: 0;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.2px!important;
    color: #777;
}
.selectpicker_from {
	width: 100%;
  	height: 50px;
    padding: 0 20px;
    font-size: 14px;
    line-height: 48px;
    vertical-align: top;
    text-transform: inherit;
    color: #222;
    border: 1px solid #ddd;
    border-bottom: 3px solid #ddd;
    border-radius: 0;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.2px!important;
    color: #777;
}

.start_date_selected .startdate_picker{
    
    width: 100%;
    height: 50px;
    padding: 0 20px 0 50px;
    font-size: 14px;
    line-height: 48px;
    vertical-align: top;
    text-transform: inherit;
    border: 1px solid #ddd;
    border-bottom: 3px solid #ddd;
    border-radius: 0;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.2px!important;
    color: #423c3c;
    font-weight: 600;
}
.icon-calendar_icon-new {
    font-size: 23px;
    display: inline-block;
    padding-top: 5%;
    padding-right: 8%;
    padding-left: 8%;
    color: #808080d6;
    position: absolute;
    left: 0;
    z-index: 3;
}
.search_bus_button{
    text-align: -webkit-center;
    margin-top: 26%;
}
.subtitle {
    margin-bottom: 0;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: bold;
    color: #e83e8c !important;
    font-size: 1rem;
}
.pb-lg-4{
    padding-top: 2rem !important;
}
.mb-5{
    margin-bottom: 3rem !important;
    font-size: 2.1rem;
    font-weight: bold;
}
.bg-gray-100 {
    background: #f8f9fa !important;
    padding-bottom: 1.5em;
}
.bg-primary-light {
    background-color: #eaedfe;
}
.icon-rounded {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    text-align: center;
    line-height: 4rem;
}
.h5 {
    font-size: 1.25rem;
    margin-bottom: .5rem;
    font-family: "Poppins",sans-serif;
    font-weight: 700;
    line-height: 1.3;
}
.text-primary_icon{
    color: #4E66F8 !important;
    font-size: 24px;
}
.text-primary_mobile{
    color: #4E66F8 !important;
    font-size: 32px;
}
.gurantee_part_vehicle{
    height: 320px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 3rem;
}
.img2_Hero {
    margin: 20px;
    background-repeat: no-repeat;
    background-image: url("https://res.cloudinary.com/ddkyepakx/image/upload/v1563596089/leave_on_time.png");
    width: 88px;
    height: 88px;
    background-size: contain;
}
.Title_abhi h4{
    color: #3e3e52;
    font-size: 32px;
    font-weight: 700;
    margin-top: 27px;
    padding-left: 2.5rem;
}

.subtext_abhi {
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: .3px;
    color: #7e7e8c;
    margin-top: 10px;
    padding-left: 2.5rem;
}
.main_block_guarantee{
    margin-top: 3rem;
}
.first_block_on_time{
        padding-left: 2.5rem;
}
.first_block_on_time .titl_hero {
    height: 24px;
    font-size: 19px;
    font-weight: bolder;
    color: #1446a0;
}
.first_block_on_time .value_hero {
    padding-top: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.43;
    color: #34495e;
    font-weight: 700;
}
.first_block_on_time .text_hero {
    width: auto;
    height: 60px;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: .3px;
    color: #34495e;
    text-align: left;
}
.text-muted{
    width: auto;
    height: 60px;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: .3px;
    color: #34495e;
}
.routes_operator_info{
     background: #f8f9fa !important;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
}
.seo-header {
    margin-bottom: 15px;
    font-weight: 800;
    font-size: 1em;
}
.seo-section{
    display: block;
    color: #444343;
    cursor: pointer;
    margin-bottom: 15px;
}
.routes_operator_info .seo-section:hover{
    color:#bf720c;
}
.newsletter-row {
    overflow: hidden;
    width: 100%;
    padding: 55px 0px;
    background-color: #232F3E;
    padding-bottom: 0px;
    /*background: url("http://themesground.com/motocart-demo/V1/images/newsletter-bg.jpg") no-repeat bottom right;*/
}
.newsletter-row .col1 {
    text-align: center;
}
.newsletter-wrap h5 {
    margin: 0px;
    margin-bottom: 10px;
    display: block;
    padding: 0px;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 26px;
    letter-spacing: 0px;
    font-weight: 500;
    color: #ffd800;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.newsletter-wrap h4 {
    margin-bottom: 23px;
    display: block;
    padding: 0px;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}
#container_form_news {
    position: relative;
    z-index: 0;
}
#container_form_news2 input[type="text"] {
    background: #FFFFFF;
    width: 65%;
    display: inline;
    color: #a7a7a7;
    line-height: 20px;
    background-color: #FFFFFF;
    border: 1px solid #e9e7e7;
    padding-left: 20px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin-right: 0px;
    padding: 18px 20px;
    width: 425px;
}
.newsletter-wrap button.subscribe {
    filter: none;
    overflow: hidden;
    padding: 14px 28px 14px 24px;
    cursor: pointer;
    font-weight: 500;
    border: none;
    background: #ffd800;
    font-family: 'Saira Condensed', sans-serif;
    color: #121212;
    font-size: 16px;
    text-transform: uppercase;
    margin-left: 6px;
}
.newsletter-wrap button.subscribe span {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding-left: 3px;
}
.newsletter-wrap button.subscribe:hover{
    background-color: black;
    color:#fff;
}
.footer_info{
    margin-top: 2em !important;
    border-top: 1px solid #424040;
    padding-top: 2em;
}
.dib {
    font-weight: 700;
    margin-bottom: 19px;
    color: #797979;
}
.footer_info .abs{
    color: #d7d7d7;
    cursor: pointer;
    margin-bottom: 10px;
    font-weight: 300;
}
.footer_info .promotion{
    color: #b1babf;
    width: auto;
    height: 60px;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: .3px;
}
.bg-gray-800 {
    background: #131A22 !important;
    margin-top: 1rem;
}
 .coppyright {
    color: #aaa;
    display: block;
    text-align: center;
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.total_vehicle_search{
    min-height: 90vh;
   
}

.vehicle_from_text{
   padding: 15px 10px 15px 25px;
    margin-bottom: 20px;
    border: 1px solid #dfdfdf;
    box-shadow: 0 2px 4px 0 hsla(0,0%,71%,.5);

}
.xx_arrow_right{
        color: #b5b1b1;
    text-align: center;
    padding-top: 13px;
    font-size: 14px;
}
.date_selected_vehicle .date_picker_collection{
    width: 100%;
    height: 41px;
    padding: 0 18px 0 50px;
    font-size: 14px;
    line-height: 48px;
    vertical-align: top;
    text-transform: inherit;
    border: 1px solid #ddd;
    /* border-bottom: 3px solid #ddd; */
    border-radius: 0;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.2px!important;
    color: #423c3c;
    font-weight: 600;
    margin-top: 7px;
    border-radius: 4px;
}
.date_selected_vehicle .icon-new_collection {
    font-size: 18px;
    display: inline-block;
    padding-top: 7.5%;
    padding-left: 8%;
    color: #808080d6;
    position: absolute;
    left: 0;
    z-index: 3;
}
.search_collection_btn{
    margin-top: 8px;
}
.header_filter_bus{
    text-align: center;
    padding-top: 3rem;
    color: #615b5b;
    font-size: large;
}
.row_sec {
    border: 1px solid #ddd;
    margin-top: 20px;
    padding: 27px
}
.row_sec:hover{
    box-shadow: 2px 2px 8px 1px #fdeaea;
}
.show_bus_collection_btn{
    text-align: center;
} 