#welcome_image_div{
position: relative;
  text-align: center;
  color: white;
}

.banner_img_info{
	background-image: url("https://res.cloudinary.com/ddkyepakx/image/upload/v1563264356/banner.jpg");
    width: 100%;
  min-height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.section_form{
    height: auto;
    padding: 30px;
    background: #fff;
    z-index: 100;
    font-family: 'Saira Condensed', sans-serif;
}
.section_form h2 {
    font-size: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0px;
    margin-bottom: 20px;
    color:black;
}
a{
    text-decoration: none !important;
}
.selectpicker_to{
    margin-bottom: 10px;
	margin-top: 15px;
	width: 100%;
  	height: 50px;
    padding: 0 20px;
    font-size: 14px;
    line-height: 48px;
    vertical-align: top;
    text-transform: inherit;
    color: #222;
    border: 1px solid #ddd;
    border-bottom: 3px solid #ddd;
    border-radius: 0;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.2px!important;
    color: #777;
}
.selectpicker_from {
	width: 100%;
  	height: 50px;
    padding: 0 20px;
    font-size: 14px;
    line-height: 48px;
    vertical-align: top;
    text-transform: inherit;
    color: #222;
    border: 1px solid #ddd;
    border-bottom: 3px solid #ddd;
    border-radius: 0;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.2px!important;
    color: #777;
}

.start_date_selected .startdate_picker{
    
    width: 100%;
    height: 50px;
    padding: 0 20px 0 50px;
    font-size: 14px;
    line-height: 48px;
    vertical-align: top;
    text-transform: inherit;
    border: 1px solid #ddd;
    border-bottom: 3px solid #ddd;
    border-radius: 0;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.2px!important;
    color: #423c3c;
    font-weight: 600;
}
.icon-calendar_icon-new {
    font-size: 23px;
    display: inline-block;
    padding-top: 5%;
    padding-right: 8%;
    padding-left: 8%;
    color: #808080d6;
    position: absolute;
    left: 0;
    z-index: 3;
}
.search_bus_button{
    text-align: -webkit-center;
    margin-top: 26%;
}
.subtitle {
    margin-bottom: 0;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: bold;
    color: #e83e8c !important;
    font-size: 1rem;
}
.pb-lg-4{
    padding-top: 2rem !important;
}
.mb-5{
    margin-bottom: 3rem !important;
    font-size: 2.1rem;
    font-weight: bold;
}
.bg-gray-100 {
    background: #f8f9fa !important;
    padding-bottom: 1.5em;
}
.bg-primary-light {
    background-color: #eaedfe;
}
.icon-rounded {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    text-align: center;
    line-height: 4rem;
}
.h5 {
    font-size: 1.25rem;
    margin-bottom: .5rem;
    font-family: "Poppins",sans-serif;
    font-weight: 700;
    line-height: 1.3;
}
.text-primary_icon{
    color: #4E66F8 !important;
    font-size: 24px;
}
.text-primary_mobile{
    color: #4E66F8 !important;
    font-size: 32px;
}
.gurantee_part_vehicle{
    height: 320px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 3rem;
}
.img2_Hero {
    margin: 20px;
    background-repeat: no-repeat;
    background-image: url("https://res.cloudinary.com/ddkyepakx/image/upload/v1563596089/leave_on_time.png");
    width: 88px;
    height: 88px;
    background-size: contain;
}
.Title_abhi h4{
    color: #3e3e52;
    font-size: 32px;
    font-weight: 700;
    margin-top: 27px;
    padding-left: 2.5rem;
}

.subtext_abhi {
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: .3px;
    color: #7e7e8c;
    margin-top: 10px;
    padding-left: 2.5rem;
}
.main_block_guarantee{
    margin-top: 3rem;
}
.first_block_on_time{
        padding-left: 2.5rem;
}
.first_block_on_time .titl_hero {
    height: 24px;
    font-size: 19px;
    font-weight: bolder;
    color: #1446a0;
}
.first_block_on_time .value_hero {
    padding-top: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.43;
    color: #34495e;
    font-weight: 700;
}
.first_block_on_time .text_hero {
    width: auto;
    height: 60px;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: .3px;
    color: #34495e;
    text-align: left;
}
.text-muted{
    width: auto;
    height: 60px;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: .3px;
    color: #34495e;
}
.routes_operator_info{
     background: #f8f9fa !important;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
}
.seo-header {
    margin-bottom: 15px;
    font-weight: 800;
    font-size: 1em;
}
.seo-section{
    display: block;
    color: #444343;
    cursor: pointer;
    margin-bottom: 15px;
}
.routes_operator_info .seo-section:hover{
    color:#bf720c;
}
.newsletter-row {
    overflow: hidden;
    width: 100%;
    padding: 55px 0px;
    background-color: #232F3E;
    padding-bottom: 0px;
    /*background: url("http://themesground.com/motocart-demo/V1/images/newsletter-bg.jpg") no-repeat bottom right;*/
}
.newsletter-row .col1 {
    text-align: center;
}
.newsletter-wrap h5 {
    margin: 0px;
    margin-bottom: 10px;
    display: block;
    padding: 0px;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 26px;
    letter-spacing: 0px;
    font-weight: 500;
    color: #ffd800;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.newsletter-wrap h4 {
    margin-bottom: 23px;
    display: block;
    padding: 0px;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}
#container_form_news {
    position: relative;
    z-index: 0;
}
#container_form_news2 input[type="text"] {
    background: #FFFFFF;
    width: 37%;
    display: inline;
    color: #a7a7a7;
    line-height: 15px;
    background-color: #FFFFFF;
    border: 1px solid #e9e7e7;
    padding-left: 20px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin-right: 0px;
    padding: 12px 20px;
}
.newsletter-wrap button.subscribe {
    filter: none;
    overflow: hidden;
    cursor: pointer;
    font-weight: 500;
    border: none;
    background: #ffd800;
    font-family: 'Saira Condensed', sans-serif;
    color: #121212;
    font-size: 16px;
    text-transform: uppercase;
    margin-left: 6px;
}
.newsletter-wrap button.subscribe span {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding-left: 3px;
}
.newsletter-wrap button.subscribe:hover{
    background-color: black;
    color:#fff;
}
.footer_info{
    margin-top: 2em !important;
    border-top: 1px solid #424040;
    padding-top: 2em;
}
.dib {
    font-weight: 700;
    margin-bottom: 19px;
    color: #797979;
}
.footer_info .abs{
    color: #d7d7d7;
    cursor: pointer;
    margin-bottom: 10px;
    font-weight: 300;
}
.footer_info .promotion{
    color: #b1babf;
    width: auto;
    height: 60px;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: .3px;
}
.bg-gray-800 {
    background: #131A22 !important;
    margin-top: 1rem;
}
 .coppyright {
    color: #aaa;
    display: block;
    text-align: center;
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.total_vehicle_search{
    min-height: 90vh;
   
}

.vehicle_from_text{
   padding: 15px 10px 15px 25px;
    margin-bottom: 20px;
    border: 1px solid #dfdfdf;
    box-shadow: 0 2px 4px 0 hsla(0,0%,71%,.5);

}
.xx_arrow_right{
        color: #b5b1b1;
    text-align: center;
    padding-top: 13px;
    font-size: 14px;
}
.date_selected_vehicle .date_picker_collection{
    width: 100%;
    height: 41px;
    padding: 0 18px 0 50px;
    font-size: 14px;
    line-height: 48px;
    vertical-align: top;
    text-transform: inherit;
    border: 1px solid #ddd;
    /* border-bottom: 3px solid #ddd; */
    border-radius: 0;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.2px!important;
    color: #423c3c;
    font-weight: 600;
    margin-top: 7px;
    border-radius: 4px;
}
.date_selected_vehicle .icon-new_collection {
    font-size: 18px;
    display: inline-block;
    padding-top: 7.5%;
    padding-left: 8%;
    color: #808080d6;
    position: absolute;
    left: 0;
    z-index: 3;
}
.search_collection_btn{
    margin-top: 8px;
    text-align: center;
}
.header_filter_bus{
    text-align: center;
    padding-top: 3rem;
    color: #615b5b;
    font-size: large;
}
.row_sec {
    border: 1px solid #ddd;
    margin-top: 20px;
    padding: 27px;
    padding-bottom: 5px;
    background:#ffffff;
}
.row_sec:hover{
    box-shadow: 2px 2px 8px 1px #dec1c1;
}
.row_sec .travels .title{
    color: #3e3e52;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.row_sec .travels .l-color {
    color: #7e7e8c;
    font-size: 13px;
}
.lh-24 .bus_number{
    color: #7e7e8c;
    font-size: 14px;
}
.pick_up{
    color: rgb(85, 77, 161);
    cursor: pointer;
    font-size: 13px;
}
.l-color{
    color: #7e7e8c;
    line-height: 24px;
}
.bp-time .arrival{
    color: #3e3e52;
}
.starts_fare .starts_price{
    color: #3e3e52;
    font-size: 16px;
}
.starts_fare .fare_price{
    padding-left: 15px;
    font-weight: bold;
}
.seats_availbale{
    text-align: center;
    font-weight: bold;
}
.show_bus_collection_btn{
    padding-top: .5rem;
}
.selection_seat_from_bus{
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
    border-top: 1px solid #f3f3f3;
    padding-top: 2rem;
} 
.seatchart{
    background-image: linear-gradient(to right top, #dcf2f3, #f9ffff, #f9f9f9, #e1def9, #f7b9f1);
}
.seat-wrap {
    padding-top: 1rem;
    text-align: center;
}
.seat-management-info{
    border-radius: 5px;
        display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 30px;
    margin: 5px;
    padding-right: 5px;
    border: 1px solid rgb(94, 119, 101);
    background: rgb(255, 255, 255);
    color: rgb(68, 68, 68);
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    font-size: 13px;
}
.seat-management_null{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 30px;
    margin: 5px;
    padding-right: 5px;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
}
.seat_style_for_table{
    text-align: -webkit-center;
    padding: 1rem;
}
.line_inside_seat{
    position: absolute;
    right: 0px;
    top: 3px;
    bottom: 3px;
    left: initial;
    width: 5px;
    height: initial;
    background: rgb(30, 178, 75);
}
.seat-wrap_availablity ul{
    padding-inline-start: 7px;
    padding-top: 1rem;
        margin-bottom: -2px;
}
.seat-wrap_availablity ul li{
    list-style: none;
    display: inline-flex;
    padding-left: 10px;
    font-size: 17px;
}
.seat-wrap_availablity h6{
    text-align: center;
    padding-top: 1.5rem;
    font-weight: bold;
    margin-bottom: -1px;
}
.seat-wrap_availablity .available{
    border:1px solid black;
    background:#fff;
    width: 20px;
    height: 20px;
}
.seat-wrap_availablity .unavailable{
    border:1px solid black;
    background-color: #cbcbcb;
    width: 20px;
    height: 20px;

}
.payment_bus_detail_info{
     background-image: linear-gradient(to right top, #ecf2f3, #ffffff, #ffffff, #ffffff, #fdf0ff);
}
.payment_bus_detail_info .title{
    text-align: center;
    font-weight: bold;
    padding-top: 1rem;
}
.payment_bus_detail_info .inner_details{
    padding: 6px;
    padding-left: 2rem;
    color: #7b7b7b;
}
.payment_bus_detail_info .detail_amount{
    padding: 6px;
    padding-left: 2rem;
    color: #040404;
    font-weight: 900;
}
.payment_bus_detail_info .proceed_book{
    text-align: center;
    padding-bottom: 1rem;
}
.payment_bus_detail_info .detail_amount h6{
    font-size: 16px;
    font-weight: 600;
    color: #3e3e52;
}
.bus_passanger_detail{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.bus_passanger_detail .passenger-maintitle {
    text-align: center;
    font-weight: bold;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 23px;

}
.bus_passanger_detail .select_payment_details{
    text-align: center;
    padding-top: 1rem;
}
.bus_passanger_detail .select_payment_details .payment-maintitle{
    font-weight: bold;
    font-size: 26px;
}
.passenger_info_content_block .booked_details h6{
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    padding-bottom: 0px;
}
.booked_details-right h5{
    font-weight: bold;
    font-size: 18px;
    padding: 8px;
    padding-bottom: 0px;
}
.collection_submit_cancel_btn{
    padding-top: 1rem;
}
.select_seat_block{
    text-align: center;
    padding-top: .5rem;
    font-weight: bold;
}
.main_cart_seat_available{
    border-right: 1px solid rgb(224, 224, 224);
    border-left: 5px solid #e45050;
}
.bp_total_price{
    font-weight: bold;
    padding-top: 8px;
}
.bus_passanger_detail .passenger_info_title{
   display: flex;
   padding-left: 2rem;
}
.bus_passanger_detail .passenger_info_title .inner_title{
       padding-left: 1rem;
    padding-top: 2px;
        font-weight: bold;
    font-size: medium;
}
.bus_passanger_detail .fa-user-circle-o {
    color: #6ec7b4;
    font-size: xx-large;
}
.passenger_info_content_block {
    box-shadow: 0 0 4px 0 hsla(0,0%,64%,.5);
    padding: 10px 1rem 1rem;
    background: #fff;
    margin-bottom: 1.5em;
    margin-top: 1em;
    margin-left: 2rem;
    width: 86%;
}
.passenger_priority {
    margin-right: .5em;
    padding-right: .5em;
    font-size: 14px;
    color: #7d7d7d;
}
.passenger_seat {
    border-left: 1px solid #b2b2b259;
    padding-left: .8em;
    font-weight: bold;
    font-size: 14px;
}
.name_passanger{
    font-size: 14px;
    padding-top: 1rem;
    margin-bottom: 0rem;
}
.input_box {
    width: 100%;
    background: #fff;
    line-height: 1.2em;
    -webkit-transition: all .3s;
    padding: .5em;
    border-radius: 3px;
    border: 1px solid #bababa;
    outline: none;
    font-size: 14px;
    margin: .8em 0 0;
    color: rgba(74,74,74,.86)!important;
}
.message_successful{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.message_successful .icon_ok{
    background: #107510;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding-top: 2rem;
}
.abhi_main_message{
    padding-top: 1rem;
}
.message_successful .icon_ok span{
    font-size: 125px;
}
.message_successful .icon_ok .booked{
    font-size: larger;
    font-weight: bold;
    padding-bottom: 1rem;
}
.booking_details{
    text-align: right;
    padding-right: 2rem;
}
.booking_details h5{
    font-weight: bold;
}
.booking_details_right h5{
    font-weight: bold;
}
.print_tickt_for_query{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.print_tickt_for_query Button{
    color:black;
    font-weight: 700;
    border:1px solid green;
}
.print_tickt_for_query Button:hover{
    color:#ffffff;
    background-color: green;
    border:none;
}
.header_going_to_mobile{
    background: #f9f9f9;
    padding: 14px;
}
.header_going_to_mobile .address_info{
       float: left;
    display: flex;
}
.header_going_to_mobile .address_info h4{
    font-size: 17px;
    padding-left: 1rem;
    font-weight: bold;
    padding-top: 4px;
}
.header_going_to_mobile .modify_info{
    float: right;
}
.abhi_bus_info_mobile{
     background-image: linear-gradient(to right top, #e2ecec, #f9ffff, #ffffff, #ffffff, #ffffff);
  margin: 1rem;
  border-left: 4px solid #ff4242;
}
.abhi_bus_info_mobile .left_side_details{
    display: flex;
    padding: 10px;
}
.abhi_bus_icon_mobile{
    color: blue;
    font-size: 16px;
}
.abhi_bus_info_mobile .left_side_details h6{
    font-weight: bold;
    padding-left: .5rem;
}
.abhi_bus_info_mobile .right_side_details{
    text-align: -webkit-right;
    padding: .6rem;
}
.abhi_bus_info_mobile .right_side_details .price-mobile{
    font-weight: bold;
    color: #2f8443;

}
.abhi_bus_info_mobile .right_side_details .seat-available{
    font-size: 13px;
}
.abhi_bus_info_mobile .rating_mobile{
    background: #65960f;
    width: 51px;
    padding: 2px;
    color: #ffff; 
    border-radius: 4px;
}
.abhi_bus_info_mobile .rating_mobile span{
    padding-right: 6px;
    font-size: 12px;
    font-weight: bold; 
}
.abhi_bus_info_mobile .name{
        margin-top: -15px;
    padding-left: 2rem;
    font-size: 13px;
}
.abhi_bus_info_mobile .facility{
     padding-left: 2rem;
    font-size: 12px;
}
.main_seat_manage_mobile{
    border-top: 1px solid #00000033;
    padding-top: 9px;
}
.main_seat_manage_mobile .inner_container{
     border: 1px solid #d6cdcd;
    margin-bottom: 1rem;
}
.main_seat_manage_mobile .title{
    text-align: center;
    font-weight: bold;
}
.inner_container .pa_info{
        border-bottom: 1px solid #d2cdcd;
    padding-bottom: 0.5rem;
}
.main_seat_manage_mobile .inner_container img{
    float: right;
    padding-right: 1.5rem;
    padding-top: 10x;
    padding-top: 9px;
}
.main_seat_manage_mobile .A_side{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    border-right: 1px solid #d6cdcd;
    text-align: center;
}
.main_seat_manage_mobile .B_side .b_name{
  padding-right: 1rem;
}
.main_seat_manage_mobile .B_side{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    text-align: right;
}
.main_seat_manage_mobile .A_side .seat-select-info{
    border: 1px solid #989292;
    text-align: center;
    font-size: 15px;
    border-radius: 8px;
    margin-bottom: 0.5rem;
}
.main_seat_manage_mobile .B_side .seat-select-info{
    border: 1px solid #989292;
    text-align: center;
    font-size: 15px;
    border-radius: 8px;
    margin-bottom: 0.5rem;
}
.abhi_selecting_seats_info{
    text-align: center;
    padding-bottom: 1rem;
}
.abhi_selecting_seats_info h5{
    font-size: 16px;
    font-weight: 600;
    color: #3e3e52;
}
.rating_desktop h6{
    background: #65960f;
    width: 51px;
    padding: 2px;
    color: #ffff;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
    margin-left: 2.2rem;
}