body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
word-break: break-word;
font-family: Montserrat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
    width: 100%;
    position: relative;
    z-index: 1000;
    background: #fff;
    box-shadow: 0 6px 9px 0 rgba(36,39,44,.2);
}
.header-banner {
    overflow: hidden;
    font-family: 'Saira Condensed', sans-serif;
    background: #23292e;
}
.header-banner .container-fluid {
    padding-right: 15px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.header-banner .assetBlock {
    text-align: left;
    margin: auto;
    padding: 10px 0px;
    font-size: 17px;
    font-weight: 400;
    color: #fff;
    font-family: 'Saira Condensed', sans-serif;
    letter-spacing: 0.5px;
    line-height: 19px;
    margin-left: -15px;
}
.header-banner .call-us {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding: 20px 1px !important;
    letter-spacing: 0.5px;
}
.header-container .title_website{
	padding-left: 3%;
    line-height: 2;
}
.search-bar {
    border-radius: 10rem;
    background: #fff;
    box-shadow: 0 0 1rem rgba(0,0,0,0.15);
}
@media (max-width: 1500px) and (min-width: 1240px){
    .section-filter {
    width: 25%;
    }
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
 .first_block_on_time{
        padding-left: 0px !important;
    }
    .gurantee_part_vehicle{
        height: auto !important;
        background-color: #fff;
        border: 1px solid #ddd;
        margin: 0 auto;
        margin-top: 50px;
    }
    .banner_gurantee_img{
       text-align: -webkit-center;
    }
    .img2_Hero{
        text-align: center !important;
    }
    .Title_abhi h4 {
    text-align: center;
    font-size: 26px !important;
     margin-top: 0px !important; 
     padding-left: 0px !important; 
    }
    .subtext_abhi {
    font-size: 18px !important;
    margin-top: 0px !important;
    padding-left: 0px !important;
    text-align: center;
    }
    .main_block_guarantee {
    margin-top: 2rem !important;
    }
    .first_block_on_time .titl_hero{
        text-align: center !important;
    }
    .first_block_on_time .value_hero{
        text-align: center !important;
    }
    .first_block_on_time .text_hero {
        text-align: center !important;
    }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .first_block_on_time{
        padding-left: 0px !important;
    }
    .gurantee_part_vehicle{
        height: auto !important;
        background-color: #fff;
        border: 1px solid #ddd;
        margin: 0 auto;
        margin-top: 50px;
    }
    .banner_gurantee_img{
       text-align: -webkit-center;
    }
    .img2_Hero{
        text-align: center !important;
    }
    .Title_abhi h4 {
    text-align: center;
    font-size: 26px !important;
     margin-top: 0px !important; 
     padding-left: 0px !important; 
    }
    .subtext_abhi {
    font-size: 18px !important;
    margin-top: 0px !important;
    padding-left: 0px !important;
    text-align: center;
    }
    .main_block_guarantee {
    margin-top: 2rem !important;
    }
    .first_block_on_time .titl_hero{
        text-align: center !important;
    }
    .first_block_on_time .value_hero{
        text-align: center !important;
    }
    .first_block_on_time .text_hero {
        text-align: center !important;
    }
     .seo-header {
        text-align: center;
    }
    .seo-section{
        text-align: center;
    }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .first_block_on_time{
        padding-left: 0px !important;
    }
    .gurantee_part_vehicle{
        height: auto !important;
        background-color: #fff;
        border: 1px solid #ddd;
        margin: 0 auto;
        margin-top: 50px;
    }
    .banner_gurantee_img{
       text-align: -webkit-center;
    }
    .img2_Hero{
        text-align: center !important;
    }
    .Title_abhi h4 {
    text-align: center;
    font-size: 26px !important;
     margin-top: 0px !important; 
     padding-left: 0px !important; 
    }
    .subtext_abhi {
    font-size: 18px !important;
    margin-top: 0px !important;
    padding-left: 0px !important;
    text-align: center;
    }
    .main_block_guarantee {
    margin-top: 2rem !important;
    }
    .first_block_on_time .titl_hero{
        text-align: center !important;
    }
    .first_block_on_time .value_hero{
        text-align: center !important;
    }
    .first_block_on_time .text_hero {
        text-align: center !important;
    }
     .seo-header {
        text-align: center;
    }
    .seo-section{
        text-align: center;
    }
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    .first_block_on_time{
        padding-left: 0px !important;
    }
    .gurantee_part_vehicle{
        height: auto !important;
        background-color: #fff;
        border: 1px solid #ddd;
        margin: 0 auto;
        margin-top: 50px;
    }
    .banner_gurantee_img{
       text-align: -webkit-center;
    }
    .img2_Hero{
        text-align: center !important;
    }
    .Title_abhi h4 {
    text-align: center;
    font-size: 26px !important;
     margin-top: 0px !important; 
     padding-left: 0px !important; 
    }
    .subtext_abhi {
    font-size: 18px !important;
    margin-top: 0px !important;
    padding-left: 0px !important;
    text-align: center;
    }
    .main_block_guarantee {
    margin-top: 2rem !important;
    }
    .first_block_on_time .titl_hero{
        text-align: center !important;
    }
    .first_block_on_time .value_hero{
        text-align: center !important;
    }
    .first_block_on_time .text_hero {
        text-align: center !important;
    }
     .seo-header {
        text-align: center;
    }
    .seo-section{
        text-align: center;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
 .first_block_on_time{
        padding-left: 0px !important;
    }
    .gurantee_part_vehicle{
        height: auto !important;
        background-color: #fff;
        border: 1px solid #ddd;
        margin: 0 auto;
        margin-top: 50px;
    }
    .banner_gurantee_img{
       text-align: -webkit-center;
    }
    .img2_Hero{
        text-align: center !important;
    }
    .Title_abhi h4 {
    text-align: center;
    font-size: 26px !important;
     margin-top: 0px !important; 
     padding-left: 0px !important; 
    }
    .subtext_abhi {
    font-size: 18px !important;
    margin-top: 0px !important;
    padding-left: 0px !important;
    text-align: center;
    }
    .main_block_guarantee {
    margin-top: 2rem !important;
    }
    .first_block_on_time .titl_hero{
        text-align: center !important;
    }
    .first_block_on_time .value_hero{
        text-align: center !important;
    }
    .first_block_on_time .text_hero {
        text-align: center !important;
    }
     .seo-header {
        text-align: center;
    }
    .seo-section{
        text-align: center;
    }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (max-width: 479px) and (min-width: 320px){
	.section_form{
    margin-top: 10% !important;
    height: auto;
    padding: 30px;
    background: #fff;
    z-index: 100;
    font-family: 'Saira Condensed', sans-serif;
    }
    .header-banner .assetBlock {
	    width: 100%;
	    padding: 12px 0;
	    font-size: 15px;
	    text-align: center;
	}
	.header-banner .call-us {
	    color: #fff;
	    text-align: center;
	    font-size: 14px;
	    font-weight: 400;
	    padding: 7px 3px 21px !important;
	    letter-spacing: 0.3px;
	    border-top: 1px solid #464646;
	}
	.header-banner .slideshow{
		height: 5px;
		overflow: none;
	}
    .banner_img_info img{
        height: 127px !important;
    }
    .section_form h2 {
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0px;
    margin-bottom: 20px;
    color: black;
    }
    .first_block_on_time{
        padding-left: 0px !important;
    }
    .gurantee_part_vehicle{
        height: auto !important;
        background-color: #fff;
        border: 1px solid #ddd;
        margin: 0 auto;
        margin-top: 50px;
    }
    .banner_gurantee_img{
       text-align: -webkit-center;
    }
    .img2_Hero{
        text-align: center !important;
    }
    .Title_abhi h4 {
    text-align: center;
    font-size: 26px !important;
     margin-top: 0px !important; 
     padding-left: 0px !important; 
    }
    .subtext_abhi {
    font-size: 18px !important;
    margin-top: 0px !important;
    padding-left: 0px !important;
    text-align: center;
    }
    .main_block_guarantee {
    margin-top: 2rem !important;
    }
    .first_block_on_time .titl_hero{
        text-align: center !important;
    }
    .first_block_on_time .value_hero{
        text-align: center !important;
    }
    .first_block_on_time .text_hero {
        text-align: center !important;
    }
    .seo-header {
        text-align: center;
    }
    .seo-section{
        text-align: center;
    }
    #container_form_news2 input[type="text"] {
        width: 324px!important;
    }
    .newsletter-wrap button.subscribe {
        margin-left: 0px;
        margin-top: 18px;
    }
   .about_us{
    text-align: center;
    padding-bottom: 1rem;
   }
   .bg-gray-800 {
    margin-top: 2rem !important;
    }
    .vehicle_from_text{
        display: none;
    }
    .bp_total_price{
        text-align: center;
    }
    .proceed_pay_btn{
        text-align: center;
    }
    .newsletter-wrap h5 {
    font-size: 14px !important;
    }
    .newsletter-row {
        padding: 29px 0px;
    }
    .newsletter-wrap h4{
        font-size: 16px !important;
    }
    .pay_now_popup{
        width: 307px;
        margin-left: 1.5rem;
    }
    .message_successful {
    padding-top: 0rem !important;
    }
    .passenger_info_content_block .booked_details h6 {
       
        font-size: 11px !important;
   
    }
    .bus_passanger_detail .select_payment_details .payment-maintitle {
        font-weight: bold;
        font-size: 23px !important;
    }
    .booked_details-right h5 {
        font-weight: bold;
        font-size: 11px !important;
        padding-top: .6rem !important;
        padding-bottom: 0px;
    }
    .booking_details h5 {
        font-weight: bold;
        font-size: 16px !important;
    }
    .booking_details_right h5 {
        font-weight: bold;
        font-size: 16px;
    }
}



